# Backend API Base URL
VITE_API_BASE_URL=https://956qsggs-3000.asse.devtunnels.ms

# Mapbox Access Token
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiZS1icml4IiwiYSI6ImNtdWF1aDAwdzAwencyeG9wbWFiN3VzMmcifQ._ntI1xPhnqVQIcm-ZlMiHw
